@model IList<AbweAddressBook.Models.Contact>
@{
    ViewData["Title"] = "Abwe Address Book";
}
<div class="mb-2">
    <a asp-controller="Contact" asp-action="Add">Add New Contact</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Nickname</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
            <td><a asp-controller="Contact" asp-action="Details">@contact.FirstName</a></td>
            <td><a asp-controller="Contact" asp-action="Details">@contact.LastName</a></td>
            <td><a asp-controller="Contact" asp-action="Details">@contact.NickName</a></td>
            <td>@contact.PhoneNumber</td>
            <td>
                <a asp-controller="Contact" asp-action="Edit" asp-route-id="@contact.ContactId">Edit</a> |
                <a asp-controller="Contact" asp-action="Delete" asp-route-id="@contact.ContactId">Delete</a>
            </td>
            </tr>
        }
    </tbody>
</table>

